@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
  background-color: white;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}